.fragcontainer
{
    margin-top: 60px;
    display: block;
    float: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

tr > td
{
  /*margin-top: 100px;*/
}

/*p > input
{
	display: none;
}*/
/* Hide unwanted fields */
form > p:first-child, input[value="Display Text Results"], p > a[href*="WebSoc"]
{
    display: none;
}
/* Hide unwanted fields */
#contact-date, #RegBannerMain, #reg-banner-container, #reg-nav-bar,
	#contact-footer, #hzDownscaled, .title-bar
{
	display: none;
}

/*.searchReply> h3, ul{
	display: none;
}
*/
/* Override Bootstrap styles. Doesn't look nice with webreg */
