.fragcontainer{
    margin-top: 60px;
    display: block;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

tr > td
{
  /*margin-top: 100px;*/
}

/*p > input
{
	display: none;
}*/

form > p:first-child, input[value="Display Text Results"], p > a[href*="WebSoc"] {
    display: none;
}