<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/head :: head">
      <!-- PlaceHolder -->
    </div>

        <link rel="stylesheet" type="text/css" href="../static/css/form.css"
        th:href="@{css/form.css}" media="screen" />
  </head>
  <body id="formholder">
    <div th:replace="fragments/header :: header">
      <!-- PlaceHolder -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Static header</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="fragcontainer">
    <div th:replace="fragments/form :: form">
      <!-- PlaceHolder -->
    </div>
  </div>
  </body>
</html>