<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/head :: head">
      <!-- PlaceHolder -->
    </div>
      <link rel="stylesheet" type="text/css" href="../static/css/index.css"
      th:href="@{css/index.css}" media="screen" />
  </head>
  <body>
    <div th:replace="fragments/header :: header">
      <!-- PlaceHolder -->
    </div>
    <div class="fragcontainer" id="index-container">
      <div class="hero-unit">
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Open Modal</button>
      </div>
      <div th:replace="fragments/session/login :: login">
      <!-- PlaceHolder -->
      </div>
      <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
    </div>
  </body>
</html>