<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <div th:replace="fragments/head :: head">
    <!-- PlaceHolder -->
  </div>
    <link rel="stylesheet" type="text/css" href="/css/login.css"
    th:href="@{css/login.css}" media="screen" />
</head>
<body>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'></link> -->
    <div class="container-fluid">
    	 <form action="" method="post" class="register-form">
             <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
             <input type="hidden" name="page" th:value="${#httpServletRequest.requestURI} " />
          <div class="row">
               <div class="col-md-4 col-sm-4 col-lg-4">
                  <label for="email">EMAIL</label>
                   <input name="email" class="form-control" type="email">
               </div>
          </div>
          <div class="row">
               <div class="col-md-4 col-sm-4 col-lg-4">
                  <label for="password">PASSWORD</label>
                   <input name="password" class="form-control" type="password">
               </div>
          </div>
          <hr>
          <div class="row">
               <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
               <button class="btn btn-outline-danger regbutton" name="register">Register</button>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
               <button class="btn btn-outline-success logbutton" name="login">Login</button>
              </div>
          </div>
        </form>
    </div>
</body>
</html>
