<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <div th:replace="fragments/head :: head">
    <!-- PlaceHolder -->
  </div>
    <link rel="stylesheet" type="text/css" href="/css/login.css"
    th:href="@{css/login.css}" media="screen" />
</head>
<body>
  <div th:replace="fragments/header :: header">
    <!-- PlaceHolder -->
  </div>
  <th:block th:if="${apiResponse == 'confirmation'}">
      <center>
          <div class="alert alert-success" type="hidden" role="alert">A verification link has been sent to your email.</div>
      </center>
  </th:block>
  <div class="container">
  <div class="card card-container">
      <center><h4>Antreminder</h4></center>
      <form class="form-signin" method="post" action="/login" >
          <span id="reauth-email" class="reauth-email"></span>
          <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" name="password" class="form-control" placeholder="Password" required>
            <th:block th:unless="${apiResponse == 'confirmation'}">
              <center>
                  <font color="red"><a class="text-bad-login" th:text="${apiResponse}"></a></font>
              </center>
          </th:block>
          <hr>
          <input type="hidden" name="page" th:value="${#httpServletRequest.requestURI} " />
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
                <a href="#" class="forgot-password center-block">
                    Forgot password?
                </a>
          </div>
          <div>
              <button class="btn btn-lg btn-outline-primary btn-block btn-signin" name="login" type="submit">Sign in</button>
          </div>
          <div>
              <button class="btn btn-lg btn-outline-default btn-block btn-reg" name="register" type="submit">Register</button>
          </div>
      </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->
</body>
</html>
