<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <div th:replace="fragments/head :: head">
    <!-- PlaceHolder -->
  </div>
  <script src="js/reminders.js" th:src="@{js/reminders.js}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/reminders.css"
  th:href="@{css/reminders.css}" media="screen" />
  <title>Antreminder - Reminders</title>
  <meta name="description" content="Your personal schedule watcher">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
</head>
<body>
  <div th:replace="fragments/header :: header">
    <!-- PlaceHolder -->
  </div>
  <br>
  <br>
  <div class="container rounded m-x-auto" id="form-container">
    <div class="container">
      <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
      <div class="mail-box">
        <aside class="sm-side">
          <div class="user-head">
             <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div id='reminder-title'>
              <b><h3>Reminders</h3></b>
            </div>
          </div>
          <div class="inbox-body">
            Quater Info
          </div>
          <ul class="inbox-nav inbox-divider">
            <li >
              <a class="active list-item list-item-all" href="#"><i class=" fa fa-circle text-primary"></i> ALL <span class="label label-all pull-right">0</span></a>
            </li>
            <li >
              <a class="list-item list-item-open" href="#"><i class=" fa fa-circle text-success"></i> OPEN <span class="label label-open pull-right">0</span></a>
            </li>
            <li >
              <a class="list-item list-item-waitlist" href="#"><i class=" fa fa-circle text-warning"></i> WAITLIST <span class="label label-waitlist pull-right">0</span></a>
            </li>
            <li >
              <a class="list-item list-item-newonly" href="#"><i class=" fa fa-circle text-info"></i> NEWONLY <span class="label label-newonly pull-right">0</span></a>
            </li>
            <li >
              <a class="list-item list-item-full" href="#"><i class=" fa fa-circle text-danger"></i> FULL <span class="label label-full pull-right">0</span></a>
            </li>
          </ul>


        </aside>
        <aside class="lg-side">
          <div class="inbox-head">
            <div class="mail-option">
              <div class="btn-group btn-group-refresh">
                <a class="btn mini btn-default btn-refresh"href="/reminders">
                  <i class=" fa fa-refresh"></i>
                </a>
              </div>
              <div class="btn-group btn-group-add">
                <a class="btn mini btn-default btn-add" href="/schedule">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
              <div class="btn-group btn-group-remove" id="btn-reminder-remove">
                <a class="btn mini btn-default btn-remove" href="#remove">
                  <i class="fa fa-minus"></i>
                </a>
              </div>
              <div class="btn-group entry-filter">

              </div>
              <form action="#" class="pull-right position">
                <div class="input-append">
                  <input type="text" class="sr-input sr-only" placeholder="Search"></input>
                  <!-- <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button> -->
                </div>
              </form>
            </div>
          </div>
          <div class="inbox-body">
              <table id="reminder-table" class="table table-inbox table-hover">
            <thead>
                <tr>
                  <th></th>
                  <th>Status</th>
                  <th>Department</th>
                  <th>Course Code</th>
                  <th>Course Title</th>
                </tr>
            </thead>
              <tbody>
                <div th:if="${not #lists.isEmpty(reminders)}">
                  <tr class="reminder-row" th:each="reminder : ${reminders}">
                    <td class="inbox-small-cells">
                      <input type="checkbox" name="reminder-checkbox" class="mail-checkbox"></input>
                    </td>
                    <th:block th:if="${reminder.status == 'OPEN'}">
                        <td class="inbox-small-cells"><i class=" fa fa-circle fa-reminder-list text-success reminder-status" name="OPEN"></i></td>
                    </th:block>
                    <th:block th:if="${reminder.status == 'WAITL'}">
                        <td class="inbox-small-cells"><i class=" fa fa-circle fa-reminder-list text-warning reminder-status" name="WAITL"></i></td>
                    </th:block>
                    <th:block th:if="${reminder.status == 'NEWONLY'}">
                        <td class="inbox-small-cells"><i class=" fa fa-circle fa-reminder-list text-info reminder-status" name="NEWONLY"></i></td>
                    </th:block>
                    <th:block th:if="${reminder.status == 'FULL'}">
                        <td class="inbox-small-cells"><i class=" fa fa-circle fa-reminder-list text-danger reminder-status" name="FULL"></i></td>
                    </th:block>
                    <td class="view-message  dont-show" th:text="${reminder.dept} + ' ' + ${reminder.number}"></td>
                    <td class="view-message  text-right reminder-id" th:text="${reminder.reminderId}"></td>
                    <td class="view-message" th:text="${reminder.title}"></td>
                  </tr>
                </div>
              </tbody>
            </table>
          </div>
        </aside>
      </div>
    </div>
  </div>
</body>
</html>
