<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <div th:replace="fragments/head :: head">
    
  </div>
  <script src="../static/js/schedule.js" th:src="@{js/schedule.js}"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/schedule.css"
  th:href="@{css/schedule.css}" media="screen" />
  <title>Antreminder - Schedule</title>
  <meta name="description" content="Your personal schedule watcher">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
</head>
<body>
  <div th:replace="fragments/header :: header">
    <!-- PlaceHolder -->
  </div>
  <br>
  <br>
  <div class="container rounded m-x-auto" id="form-container">
    <center>
      
    </center>
    <div>
      <th:block th:switch="${FRAGMENT}">
      <th:block th:case="'FORM'">
      <div th:replace="fragments/schedule/form :: form">
        <!-- PlaceHolder -->
      </div>
    </th:block>
    <th:block th:case="'SEARCH'">
     <div class="alert-message"></div>
    <div th:replace="fragments/schedule/search :: search">
      <!-- PlaceHolder -->
    </div>
  </th:block>
</th:block>
</div>
<br></br>
</div>
</body>
</html>
