<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<!--   <nav>
    <div class="navbar navbar-light bg-faded" role="navigation" th:fragment="header">
      <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" th:href="@{/}">Antreminder</a>
        </div>
        <div th:if="${NAVSELECTION} == 'HOME'" class="collapse navbar-collapse" id="navigationbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" th:href="@{/}">Home</a></li>
            <li><a href="#" th:href="@{/schedule}">Schedule</a></li>
            <li><a href="#" th:href="@{/reminders}">Reminders</a></li>
            <li><a href="#" th:href="@{/blog}">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li th:if="${#authorization.expression('!isAuthenticated()')}">
              <a href="/signin" th:href="@{/signin}">Sign in</a>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
              <a href="/logout" th:href="@{/logout}">Logout</a>
            </li>
          </ul>
        </div>
        <div th:if="${NAVSELECTION} == 'SCHEDULE'" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/}">Home</a></li>
            <li class="active"><a href="#" th:href="@{/schedule}">Schedule</a></li>
            <li><a href="#" th:href="@{/reminders}">Reminders</a></li>
            <li><a href="#" th:href="@{/blog}">Blog</a></li>
          </ul>
        </div>
        <div th:if="${NAVSELECTION} == 'REMINDERS'" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/}">Home</a></li>
            <li><a href="#" th:href="@{/schedule}">Schedule</a></li>
            <li class="active"><a href="#" th:href="@{/reminders}">Reminders</a></li>
            <li><a href="#" th:href="@{/blog}">Blog</a></li>
          </ul>
        </div>
      </div>
     </div>
  </nav> -->
<nav class="navbar navbar-dark bg-inverse" th:fragment="header">
  <a class="navbar-brand" href="#">Antreminder</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/schedule" th:href="@{/schedule}">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reminders" th:href="@{/reminders}">Reminders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog" th:href="@{/blog}">Blog</a>
    </li>
  </ul>
  <div class="session">
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="email"></input>
    <input class="form-control" type="password" placeholder="password"></input>
    <button class="btn btn-outline-success" type="submit">Login</button>
  </form>
  </div>
</nav>
  </body>
</html>