<!DOCTYPE html>
<html>
<head>
  ...
</head>
<body>
  <div class="fragment form-fragment" th:fragment="form">
    <form method="post" action="/schedule" th:fragment="form">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <div id="formReply" th:utext="${PAGE}"></div>
      <br>
      <div>
          <button id="search-btn" class="btn btn-md btn-default pull-right" type="submit">Search</button>
      </div>
    </form>
  </div>
</body>
</html>
